.sidebar-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #020454;
  color: white;
  padding: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar_list_items{
  background-color: aqua;
  padding: 1vw;
  border-radius: 15px;
  /* color:black; */
}

.sidebar li {
  margin: 1rem 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.main-content {
  flex: 1;
  padding: 2rem;
}
